@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <div id="hello">
            <h1>Scroll down to fade in Elements</h1>
        </div>

        <div id="portfolio">
            <div class="col">
                <div class="shot">
                    <img alt="dummy" src=
                    "http://dummyimage.com/400x400/000/fff.jpg">

                    <h3>Shot</h3>

                    <p>Description bacon &amp; eggs for breakfast, lunch and
                    unicorns saved the earth. So the aliens stopped milking the
                    cows. The president had pancakes with his donkey...</p>
                </div>

                <div class="shot">
                    <img alt="dummy" src=
                    "http://dummyimage.com/400x500/5968a4/fff.jpg&amp;text=mr+president">

                    <h3>Shot</h3>

                    <p>Description bacon &amp; eggs for breakfast, lunch and
                    unicorns saved the earth. So the aliens stopped milking the
                    cows. The president had pancakes with his donkey...</p>
                </div>

                <div class="shot">
                    <img alt="dummy" src=
                    "http://dummyimage.com/300x600/ffa500/fff.jpg&amp;text=aliens">

                    <h3>Shot</h3>

                    <p>Description bacon &amp; eggs for breakfast, lunch and
                    unicorns saved the earth. So the aliens stopped milking the
                    cows. The president had pancakes with his donkey...</p>
                </div>

                <div class="shot">
                    <img alt="dummmy" src=
                    "http://dummyimage.com/400x500/6cb813/fff.jpg&amp;text=green+eggs">

                    <h3>Shot</h3>

                    <p>Description bacon &amp; eggs for breakfast, lunch and
                    unicorns saved the earth. So the aliens stopped milking the
                    cows. The president had pancakes with his donkey...</p>
                </div>
            </div>
        </div>

        
        </div>