@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <div id="hello">
            <h1>Hello, I'm Patricia Gonzalez de Castro</h1>
            <h2>Do you want to know me?</h2> 
            <h2>Scroll Down!</h2>
            <span class="rss"><a href="#">Facebook</a> <a href="#">Twitter</a>  <a href="#">LinkedIn</a></span>
        </div>
        <div class="hov1">
        <ul>
            <li>Gestion de contenido</li>
            <li>Community Manager</li>
            <li>Cuenta de Afflelou</li>
            <li>Cuenta de Hyundai</li>
            <li>Cuenta de Disney (Star Wars)</li>
        </ul>
        </div>

        <div id="portfolio">
            <div class="col">
                <div class="shot" onmouseover="launch()">
                    <div style="text-align:center; padding-top:30px;">
                        <span class="sp">2014</span>
                    </div>
                    <img src="../../Content/Images/logo_havasmedia.png" width="650px" class="imgHavas"/>

                    <p class="description">More info? Hover Me!</p>
                </div>


                <div class="shot2">
                    <div style="text-align:center;">
                        <span class="sp">2011</span>
                    </div>

                    <h3>Shot 2</h3>

                    <p>Description bacon &amp; eggs for breakfast, lunch and
                    unicorns saved the earth. So the aliens stopped milking the
                    cows. The president had pancakes with his donkey... 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Proin vel rutrum odio. Morbi et molestie justo, ac eleifend neque. 
                    Proin felis est, aliquam ut eros eget, accumsan eleifend ipsum. </p>
                    <p>More info? Hover Me!</p>
                </div>



                <div class="shot">
                   <div style="text-align:center;">
                        <span class="sp">2012</span>
                    </div>

                    <h3>Shot</h3>

                    <p>Description bacon &amp; eggs for breakfast, lunch and
                    unicorns saved the earth. So the aliens stopped milking the
                    cows. The president had pancakes with his donkey...</p>
                </div>

                <div class="shot3">
                      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	            <div class="flipper">
		            <div class="front" style="text-align:center;">
                    <span class="sp">2013</span>
                    <h3>Shot 3</h3>
                    <p>Description bacon &amp; eggs for breakfast, lunch and
                    unicorns saved the earth. So the aliens stopped milking the
                    cows. The president had pancakes with his donkey...</p>
			            <!-- front content -->
		            </div>
		            <div class="back">
                     <h3>Back</h3>
			             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Proin vel rutrum odio. Morbi et molestie justo, ac eleifend neque. 
                    Proin felis est, aliquam ut eros eget, accumsan eleifend ipsum. 
                    In nisl ipsum, elementum porta pretium in, fringilla nec nibh. </p>
		            </div>
	            </div>
            </div>
            </div>
        </div>
        </div>
        </div>


        
        







