body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*Faded experimentals*/
.sp
{
	font-size:60px;
	font-family:Bemio;
	margin-top:20px;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {width: 100%; height: 100%;margin: 0;padding: 0;overflow:scroll;}
#portfolio {width: 100%; height: auto;margin: 0;padding: 0;}



.col {
  width: 50%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  padding: 10px;
 margin: 0 auto;
}



.col h3 {
  width: 100%;
  padding:10px 3px;
  margin:0;
  font-weight: 500;
}
.col p {
  width: 100%;
  padding:0px 3px 10px 3px;
  

  font-family:Bemio;
	font-size:30px;
}

h1, h2 {
  position: relative;
 font-family:Mf Summertime;
  margin: 0;
  text-align: center;
  font-weight: 100;
  color:#F8F8F8 ;
}
.rss
{
	color:#F8F8F8 ;
	font-size:20px;
	font-family:Mf Summertime;
	float:right;
	margin-top:220px;

	margin-right:10px;
	}
	
.rss a
{
	color:#F8F8F8;
	text-decoration:none;
	margin-right:10px;
}
	
h1
{
	
	font-size:80px;
	top:30%;
}

h2
{
	font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	top:45%;
}

#hello 
{
    height:400px; 
    width:100%; 

	background: url("../../Content/Images/blank_blackboard.jpg") no-repeat;
}

.hov1
{
	height:200px;
	width:290px;
	padding-top:10px;
	background: url("../../Content/Images/paper.png") no-repeat;
	
	background-size: 295px 200px;
	float:left;
	margin-left:82px;
	margin-top:100px;
	display:none;
	border-radius:15px;
	font-family:Hug Me Tight;
	}

.companyname
{
	font-family:Bemio;
	font-size:40px;
}

.descriptionHavas
{
	margin-top:140px;
	font-family:Bemio;
}

.descriptionIntegrate
{
	margin-top:80px;
	font-family:Bemio;
}

.shot
{
	height:400px;
	width:800px;
	margin: 0 auto;
	background: url("../../Content/Images/bg.jpg") no-repeat;
	background-size: 800px 403px;
	border-bottom: 3px solid #E8E8E8;
	border-radius:10px;
	text-align:center;
}


.imgHavas
{
	margin-top:40px;
}



.shot2
{
	height:400px;
	width:800px;
	margin: 0 auto;
	background: url("../../Content/Images/open_window_winter.jpg") no-repeat;
	background-size: 800px 403px;
	border-bottom: 3px solid #E8E8E8;
	border-radius:10px;
	text-align:center;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back 
{
	width:371px;
	height: 400px;
	border-bottom: 3px solid #E8E8E8;
	border-radius:10px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	background-color:#FF8080;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color:#99D6FF;
}
